.box {
  height: 350px;
  text-align: center;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dayColor {
  background-color: rgb(228, 225, 92);
}

.nightColor {
  background-color: darkgray;
}