.button {
  padding: 10px;
  color: aliceblue;
  margin: 0px 5px;
  box-shadow: -2px -2px 6px black;
}

.incrementButton {
  background-color: green;
}
.decrementButton {
  background-color: red;
}

.checkBox {
  margin: 0px 10px;
}